@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --blue: #2A324B;
    --gray: #58699D;
    --offwhite: #E1E5EE;
    --white: #fff;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    background-color: var(--offwhite);
    font-size: 16px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}




#categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: inherit;
}

button {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    min-width: fit-content;
    font-family: inherit;
    
    
}

button.active {
    background-color: var(--white);
    color: var(--blue);
}

button:hover {
    background-color: var(--white);
    color: var(--blue);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h2 {
    font-size: 1.5rem;
    color: var(--blue);
    margin-bottom: 1rem;
}

main p {
    font-size: 1rem;
}

main ul li a {
    color: var(--gray);
}

a:hover {
    color: var(--blue);
}

@media (min-width: 1041px) {

    #content {
        padding: 4rem 5rem;
        min-width: 1450px;

    }

    .container {
        background-color: var(--white);
        margin: auto;
    }

    #categories {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
        gap: 1rem;
        background-color: var(--offwhite);
    }

    button {
        width: 100%;
        padding: 2rem 2rem;
        font-size: 1.2rem;
        
        
    }
    

    main {
        margin: 0;
        padding: 5rem 4rem;
        height: 400px;
        background-color: var(--offwhite);
        width: 100%;

        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }

        a {
            font-size: 1.2rem;
        }
    }
}

